.selector {
  position: fixed;
  display: flex;
  z-index: 999;
  margin-top: 2px;
  height: 30vh;
  overflow-x: hidden;
  overflow-y: auto;

  &-content {
    .list {
      max-height: 90vh;
      overflow-x: hidden;
      overflow-y: auto;

      .list-item {
        cursor: pointer;
        background-color: var(--white);

        &:hover {
          filter: brightness(0.95);
        }

        &:active {
          filter: brightness(0.9);
        }
      }
    }
  }
}

.selected {
  background-color: var(--primary);
  color: var(--white);
}