.chat {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.chat-box {
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
  padding: 20px;
  padding-bottom: 40px;
  position: relative;
  overscroll-behavior: none;
}